---
layout: default
---

<div class="homepage-container">
  <div class="row justify-content-center" style="margin:50px">
    <div class="col-md-4 col-sm-12 col-xs-12 text-center text-md-left" style="max-width:500px">
      Hi! I'm a machine learning engineer who is passionate about robotics, computer vision, and social impact.

      <div><img src="img/profile.jpg" style="width:90%;margin-top:20px;margin-bottom:20px"></div>

      <a href="https://www.linkedin.com/in/alexa-greenberg">
        <img src="img/linkedin.png" alt="LinkedIn" class="icon">
      </a>
      <a href="https://scholar.google.com/citations?user=J6x5EpMAAAAJ">
        <img src="img/scholar.png" alt="Google Scholar" class="icon">
      </a>
      <a href="https://twitter.com/alexagreenberg_">
        <img src="img/twitter.png" alt="Twitter" class="icon">
      </a>
      <a href="https://github.com/agreenb">
        <img src="img/github.png" alt="GitHub" class="icon">
      </a>
      <a href="mailto:alexacgreenberg@gmail.com">
        <img src="img/email.png" alt="Email" class="icon">
      </a>
    </div>

    <div class="col-md-5 offset-md-1 col-sm-12 col-xs-12 text-center text-md-left panel panel-primary accordion">
      <div class="row experience-row">
        <div class="col-md-12" id="experience-row">
          <div class="panel-heading" id="experience-heading" style="margin-top: 0;">
            <h1 class="panel-title">
              
              Abridged robotics journey
            </h1>
          </div>

          <div class="panel-body collapsible-table collapse show" id="experience">
            <a href="https://ai.meta.com/research/">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/meta-logo.png" class="logo">
                  Meta FAIR Robotics</b></br>
                  Research Engineer
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">May 2025 - present</br>
                  Menlo Park, CA
                </div>
              </div>
            </a>

            <a href="https://www.recurse.com/">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/recurse-logo.png" class="logo">
                  Recurse</b></br>
                  Batch Participant
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2024 - 2025</br>
                  Brooklyn, NY
                </div>
              </div>
            </a>

            <a href="https://www.viam.com/post/behind-the-code-journeys-insights-of-viams-data-ml-team">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/viam-logo.png" class="logo">
                  Viam</b></br>
                  Robotics Engineering Lead
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2022 - 2024</br>
                  New York, NY
                </div>
              </div>
            </a>

            <a href="https://x.company/projects/everyday-robots">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/google-logo.jpg" class="logo">
                  all the Googles: <br>
                  Google Brain,<br>
                  Google X (Everyday Robots),<br>
                  Google Search</b></br>
                  Senior Research Engineer<br>
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2014 - 2021</br>
                  Mountain View, CA
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
