---
layout: default
---

<div class="homepage-container">
  <div class="row justify-content-center" style="margin:50px">
    <div class="col-md-4 col-sm-12 col-xs-12 text-center text-md-left" style="max-width:500px">
      Hi! I'm a machine learning engineer who is passionate about robotics, computer vision, and social impact.

      <div><img src="img/profile.jpg" style="width:90%;margin-top:20px;margin-bottom:20px"></div>

      <a href="https://www.linkedin.com/in/alexa-greenberg">
        <img src="img/linkedin.png" alt="LinkedIn" class="icon">
      </a>
      <a href="https://scholar.google.com/citations?user=J6x5EpMAAAAJ">
        <img src="img/scholar.png" alt="Google Scholar" class="icon">
      </a>
      <a href="https://twitter.com/alexagreenberg_">
        <img src="img/twitter.png" alt="Twitter" class="icon">
      </a>
      <a href="https://github.com/agreenb">
        <img src="img/github.png" alt="GitHub" class="icon">
      </a>
      <a href="mailto:alexacgreenberg@gmail.com">
        <img src="img/email.png" alt="Email" class="icon">
      </a>
    </div>

    <div class="col-md-5 offset-md-1 col-sm-12 col-xs-12 text-center text-md-left" class="panel panel-primary accordion">
      <div class="row">
        <div class="col-md-12" id="experience-row">
          <div class="panel-heading" id="experience-heading">
            <h1 class="panel-title">
              
              Experience
            </h1>
          </div>

          <div class="panel-body collapsible-table collapse show" id="experience">
            <a href="https://www.recurse.com/">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/recurse-logo.png" class="logo">
                  Recurse</b></br>
                  12-Week Batch Participant
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">Sept 2024 - present</br>
                  Brooklyn, NY
                </div>
              </div>
            </a>

            <a href="https://www.viam.com/">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/viam-logo.png" class="logo">
                  Viam</b></br>
                  Robotics Engineering Lead
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2022 - 2024</br>
                  New York, NY
                </div>
              </div>
            </a>

            <a href="https://research.google/teams/brain/">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/brain-logo.png" class="logo">
                  Google Brain</b></br>
                  Senior Research Software Engineer
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2020 - 2021</br>
                  San Francisco, CA
                </div>
              </div>
            </a>

            <a href="https://aurora.tech/blog/aurora-is-acquiring-ubers-self-driving-unit-advanced">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/uber-logo.png" class="logo">
                  Uber ATG (Aurora)</b></br>
                  Senior Autonomy Engineer
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2019 - 2020</br>
                  San Francisco, CA
                </div>
              </div>
            </a>

            <a href="https://x.company/projects/everyday-robots">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/x-logo.png" class="logo">
                  Google X (Everyday Robots)</b></br>
                  Senior Machine Learning Engineer
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2017 - 2019</br>
                  Mountain View, CA
                </div>
              </div>
            </a>

            <a href="https://www.wired.com/2016/06/how-google-is-remaking-itself-as-a-machine-learning-first-company">
              <div class="row tr">
                <div class="td col-md-7 col-sm-12 col-xs-12"><b>
                  <img src="img/google-logo.jpg" class="logo">
                  Google </b></br>
                  Software Engineer (Gboard)<br>
                  Machine Learning Ninja Resident
                </div>
                <div class="td col-md-5 col-sm-12 col-xs-12">2014 - 2017</br>
                  Mountain View, CA
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
